{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Coach Dashboard for {{ company.name }}</h2>
<p>Welcome, {{ user.username }}!</p>
<p>Here you can manage and view your schedule for each day. Once auto-updates are enabled your scheduled templates will be used to create Classes/Events that users can book onto.</p>

<div class="container">
    <div class="row d-flex flex-row justify-content-between"></div>
        <a href="{% url 'schedule' 1 %}" class="btn btn-success">Monday</a>
        <a href="{% url 'schedule' 2 %}" class="btn btn-success">Tuesday</a>
        <a href="{% url 'schedule' 3 %}" class="btn btn-success">Wednesday</a>
        <a href="{% url 'schedule' 4 %}" class="btn btn-success">Thursday</a>
        <a href="{% url 'schedule' 5 %}" class="btn btn-success">Friday</a>
        <a href="{% url 'schedule' 6 %}" class="btn btn-success">Saturday</a>
        <a href="{% url 'schedule' 7 %}" class="btn btn-success">Sunday</a>
    </div>
</div>
<div class="container d-flex justify-content-center mt-4">
    <div class="row mt-1 mb-4">
        <p>Click here to add your schedule to the next 30 days. Please note this may cause overlaps and it is best to delete any events that will cause conflicts first</p>
        <form action="{% url 'generate_schedule' %}" method="post" class="mb-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Generate Schedule (Next 30 Days)</button>
        </form>
        <p class="mt-2">Auto updates will automatically apply your scheduled events to keep you up to date up to 30 days ahead starting by applying your schedule for the relevant day each day to the day that is 30 days ahead. Note this won't include the next 30 days (See above to add your schedule to the next 30 days).</p>
        <div class="row mt-1 mb-4">
            {% if company.auto_updates == False %}
            <h4 class="text-danger">Auto updates are currently disabled.</h4>
            <form action="{% url 'switch_auto_update_status' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Enable Auto Updates</button>
            </form>
            {% else %}
            <h4 class="text-success">Auto updates are currently enabled.</h4>
            <form action="{% url 'switch_auto_update_status' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Disable Auto Updates</button>
            {% endif %}
        </div>
        <div class="row mt-4">
            <div>
                <p>Used to delete all events between dates you provide</p>
                <a href="{% url 'delete_future_events' %}" class="btn btn-danger">Delete Real Events</a>  
            </div>
        </div>
    </div>
</div>
{% endblock content %}