{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Coach Dashboard for {{ company.name }}</h2>
<p>Welcome, {{ user.username }}!</p>
<p>Here you can manage and view your schedule for each day. Once set to active your scheduled templates will be used to create classes/events that users can book onto.</p>
<p>These events are then added automatically 30 days before that date.</p>

<div class="container">
    <div class="row d-flex flex-row justify-content-between"></div>
        <a href="{% url 'schedule' 1 %}" class="btn btn-success">Monday</a>
        <a href="{% url 'schedule' 2 %}" class="btn btn-success">Tuesday</a>
        <a href="{% url 'schedule' 3 %}" class="btn btn-success">Wednesday</a>
        <a href="{% url 'schedule' 4 %}" class="btn btn-success">Thursday</a>
        <a href="{% url 'schedule' 5 %}" class="btn btn-success">Friday</a>
        <a href="{% url 'schedule' 6 %}" class="btn btn-success">Saturday</a>
        <a href="{% url 'schedule' 7 %}" class="btn btn-success">Sunday</a>
    </div>
</div>
<div class="container d-flex justify-content-center mt-4">
    <div class="row mt-1 mb-4">
        <form action="{% url 'generate_schedule' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Generate Schedule (Next 30 Days)</button>
        </form>
        <div class="row mt-1 mb-4">
            {% if company.auto_updates == False %}
            <p>Auto updates are currently disabled.</p>
            <form action="{% url 'switch_auto_update_status' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Enable Auto Updates</button>
            </form>
            {% else %}
            <p>Auto updates are currently enabled.</p>
            <form action="{% url 'switch_auto_update_status' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Disable Auto Updates</button>
            {% endif %}
        </div>
        <div class="row mt-4">
            <div>
                <a href="{% url 'delete_future_events' %}" class="btn btn-danger">Delete Real Events</a>  
            </div>
        </div>
    </div>
</div>
{% endblock content %}