{% extends "base.html" %}

{% load static %}

{% block content %}
<h1>Duplicate Events</h1>
<div class="container">
    <div class="row d-flex justify-content-center">

        <input class="col-10 col-md-11 mb-4" type="date" name="date" id="date-input">
        <button class="btn btn-success col-3 col-md-1 mb-4" id="add">Add</button>
        <h3>List of dates added</h3>
        <ul id="date-list" class="d-flex flex-row flex-wrap"></ul>
        </ul>
        <form action="{% url 'duplicate_day_events' selected_date %}" method="post" id="date-form">
            {% csrf_token %}
            <label for="dates-sent">These are the dates you want to add</label>
            <p id="dates-sent-output"></p>
            <input style="display: none;" type="text" name="dates-sent" id="dates-sent-input">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<script src="{% static 'scripts/formScript.js' %}"></script>

{% endblock content %}