{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>User Dashboard</h2>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card">
            <p class="card-title">Company info</p>
            <ul class="card-body">
                <li>Name: <strong>{{ company.name }}</strong></li>
                <li>{{ company.email}}</li>
                <li>{{ company.phone_number }}</li>
                <li><a href="{{ company.website}}" style="text-decoration: underline; color: blue;">Visit company website</a></li>
            </ul>
        </div>
        <p>You have {{ user.profile.token_count }} session tokens</p>
        <a href="{% url 'purchase_tokens' %}" class="btn btn-success col-2">Purchase tokens</a>
    </div>
</div>
{% endblock content %}