{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>User Dashboard</h2>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card">
            <p class="card-title">Company info</p>
            <ul class="card-body">
                <li>Name: <strong>{{ company.name }}</strong></li>
                <li>{{ company.email}}</li>
                <li>{{ company.phone_number }}</li>
                <li><a href="{{ company.website}}" style="text-decoration: underline; color: blue;">Visit company website</a></li>
            </ul>
        </div>
        <p>You have {{ tokens }} session tokens</p>
        <div class="row d-flex justify-content-around">
            {% if is_coach %}
            <p>You are a coach and cannot purchase tokens</p>
            {% else %}
            <a href="{% url 'purchase_tokens' %}" class="btn btn-success col-3">Purchase tokens</a>
            <a href="{% url 'view_tokens' %}" class="btn btn-info col-3">View Tokens</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}