{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Company Dashboard for <strong>{{ company.name }}</strong></h2>
<h3>Manager: {{ company.manager }}</h3>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <details class="company-info">
                <summary>Company info</summary>
                <p>Company Name: <strong>{{ company.name }}</strong></p>
                <p>Address: {{ company.address }}</p>
                <p>City: {{ company.city }}</p>
                <p>Postcode: {{ company.postcode }}</p>
                <p>Email: {{ company.email}}</p>
                <p>Contact Number: <a href="tel:+{{ company.phone_number }}" style="color: blue; text-decoration: underline;">{{ company.phone_number }}</a></p>
                <p><a href="{{ company.website}}" style="color: blue; text-decoration: underline;">Visit company website</a></p>
            </details>
        </div>
        <div class="col-12 col-md-6">
            <details>
                <summary>Company forms</summary>
                <div class="container" style="display: flex; flex-direction: column; gap: 10px;">
                    <a href="{% url 'change_company_details' %}" class="btn btn-success mt-2">Change Company information</a>
                    <a href="{% url 'manage_venues' %}" class="btn btn-success mt-2">Manage Venues</a>
                    <a href="{% url 'view_coaches' %}" class="btn btn-success mt-2">View all coaches</a>
                    <a href="{% url 'view_bookings' %}" class="btn btn-success mt-2">View all bookings</a>
                    <a href="{% url 'view_clients' %}" class="btn btn-success mt-2">View all clients</a>
                    <a href="#" class="btn btn-success mt-2">View Transactions</a>
                    <a href="{% url 'view_refund_requests' %}" class="btn btn-success mt-2">Manage Refund Requests</a>
                    <a href="{% url 'coach_dashboard' %}" class="btn btn-success mt-2">Manage Event Schedule</a>
                </div>
            </details>
        </div>
    </div>
</div>

{% endblock content %}
