{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Company Dashboard</h2>
<h3>Your company {{ company.name }}</h3>
<div class="container">
    <div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Postcode</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for venue in venues %}
            <tr>
                <td>{{ venue.name }}</td>
                <td>{{ venue.postcode }}</td>
                <td><button class="btn btn-primary"><a href="{% url 'view_venue' venue.venue_id %}">View</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row d-flex justify-content-around">
        <button class="btn btn-success col-4"><a href="{% url 'add_venue' %}">Add Venue</a></button>
    </div>
    </div>
</div>
{% endblock content %}