{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Company Dashboard</h2>
<h3>Your company {{ company.name }}</h3>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.user }}</td>
                    <td>{{ booking.event.event_name }}</td>
                    <td>{{ booking.event.date_of_event }}</td>
                    <td>
                        <form action="{% url 'delete_booking' booking.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}