{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Tokens</h2>
<h3>Tokens for: {{ client.username }}</h3>
<div class="container">
    <div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Purchased On</th>
                <th>Approve</th>
                <th>Deny</th>
            </tr>
        </thead>
        <tbody>
            {% for request in refund_requests %}
            <tr>
                <td>{{ request.token.id }}</td>
                <td>{{ request.user.username }}</td>
                <td>{{ request.token.purchased_on }}</td>
                {% if request.status == "Pending" %}
                <td>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Approve</button>
                    </form>
                </td>
                <td>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Deny</button>
                    </form>
                </td>
                {% elif request.status == "Approved" %}
                <td><button class="btn btn-success" disabled>Approved</button></td>
                <td></td>
                {% elif request.status == "Denied" %}
                <td></td>
                <td><button class="btn btn-danger" disabled>Denied</button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock content %}