{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Company Dashboard</h2>
<h3>Your company {{ company.name }}</h3>
<div class="container">
    <div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for coach in coaches %}
            <tr>
                <td>{{ coach.id }}</td>
                <td>{{ coach.coach.username }}</td>
                <td>{{ coach.coach.email }}</td>
                <td><button>View</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row d-flex justify-content-around">
        <button class="btn btn-success col-4"><a href="{% url 'add_coach' %}">Add Coach</a></button>
        <button class="btn btn-danger col-4"><a href="{% url 'remove_coach' %}">Remove Coach</a></button>
    </div>
    </div>
</div>
{% endblock content %}